.pageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 40px;
    min-block-size: 2.5vw;
}
.team-container{
    padding: 0 10px;
    min-height: 90vh;
    gap: 20px;
    margin:0 5vw;
}
.member{
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    max-height: none;
}
.name{
    padding: 15px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 30px;
}
.About{
    padding: 7.5vh 0;
    width: 100vw;
    background: radial-gradient(
        circle, 
        rgba(130, 0, 208, 88%) 0%, 
        rgba(60, 141, 255, 0.862) 31.05%, 
        #0026fb 100%);
};
/* for resize purposes */
@media (min-width: 200px) {
    .team-container {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
  @media (min-width: 600px) {
    .team-container {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
    