.navBar{
    display: flex;
    height: 7.5vh;
    min-height: 40px;
    background-color: navy;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.logo{
    font-size: 40px;
    padding-left: 5%;
    cursor: pointer;
}
.dropDownMenu {
    position: relative;
    display: inline-block;
    padding-left: 5px;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
}

.dropDownMenu:hover .dropDownContent {
    display: block;
}

.linkName{
    margin-left: 5px;
}


.connect:active{
    box-shadow: none;
    transform: translateY(5px);
}
.connect{
    border-radius: 15px;
    position: relative;
    color: white;
    border: none;
    background-color: #2f49f4;
    box-shadow: 0 5px 0 #0d14d4;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}

@media (prefers-color-scheme: light) {
    .whiteIcon {
      filter: invert(1);
    }
}
@media (prefers-color-scheme: dark) {
    .blackIcon {
      filter: invert(1);
    }
}  
.acount:hover{
    cursor: pointer;
}
  