.navBar{
    display: flex;
    height: 7vh;
    min-height: 40px;
    background-color: #222222;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    box-shadow: 0px 20px 10px -15px #111;    
}
    
.logo{
    font-size: 40px;
    padding-left: 5%;
    cursor: pointer;
}
.dropDownContent {
    display: flex;
    min-width: 160px;
    margin-top: 5px;
    border-radius: 20px;
}
@media (max-width: 700px) {
    .link{
        zoom: 0.7;
        margin-top: 10px !important;
    }
    .linkName{
        display: none;
    }
    .logo{
        font-size: 5.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    
.left{
    display:flex;
}
.link{
    display: flex;
    margin: 0 10px;
    color: white;
    padding: 10px;
    border-left: white solid 1px;
}
.link:hover{
    background-color: #555555;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border-left: none;

}
.linkName{
    margin-left: 5px;
}
.blackIcon{
    z-index: 3;
    margin-left: 1vw;
    margin-top: 9px;
}

.dropDownMenu:hover .dropDownContent {
    display: block;
}

.navPage:hover{
    cursor: pointer;
    background-color: aqua;
}

.connect:active{
    box-shadow: none;
    transform: translateY(5px);
}
.connect{
    border-radius: 15px;
    position: relative;
    color: white;
    border: none;
    background-color: #2f49f4;
    box-shadow: 0 5px 0 #0d14d4;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 1vw;
}
.right{
    padding-right: 3vw;
}
.account:hover{
    cursor: pointer;
}
  