.users{
    padding-top: 7.5vh;
    /* height: 87.7vh; */
    min-height: 86vh;
}
.ListOwnNft{
    margin-top: 15vh;
    /* gap: 10px; */
    display: grid;
}
/* for resize purposes */
@media (min-width: 200px) {
    .ListOwnNft {
        grid-template-columns: repeat(1, 2fr);
    }
  }
  @media (min-width: 600px) {
    .ListOwnNft {
        grid-template-columns: repeat(2, 2fr);
    }
  }
  @media (min-width: 1000px) {
    .ListOwnNft {
        grid-template-columns: repeat(3, 2fr);
    }
  }@media (min-width: 1300px) {
    .ListOwnNft {
        grid-template-columns: repeat(4, 2fr);
    }
  }
.OwnNft{
    border-radius: 10px;
    width: 100px;
    cursor: pointer;

}
.users p{
    text-align: center;
    margin-top: 10vh;
}
.pop{
    position: fixed;
    margin-top: 7vh;
    top:20vh;
    left:30vw;
    width: 40vw;
    max-height: 720px;
    background-color: aqua;
    border-radius: 7px;
    z-index: 5;
}
.burn{
    float: right;
    font-size: larger;
    margin-top: 3px;
    margin-right: 3px;
}
